@import "https://fonts.googleapis.com/css?family=Ubuntu:400";

body {
  background-color: #eeeeee;
  width: 100vw;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}


form {
    width:100%;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin-left: 65%;
}


.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  font-family: 'Ubuntu', sans-serif;
  width: 30%;
  font-size: 16px;
  padding: 15px 4px;
  background: transparent;
  transition: border-color 0.2s;
  box-sizing: border-box;
  margin: 0 0 1em 0;
  border: 1px solid #8b1c20;
  background: #eeeeee;
  resize: none;
  outline: none;
}


.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form-field:focus ~ .form-label {
  position: absolute;
  top: 2px;
  left: 8px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
  background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
  background-size: 105% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-field:focus ~ .form-label {
  color: #8b1c20;
}

.form-field:focus {
/*  padding-bottom: 6px;
*/  border: 3px solid red;
}

.form-field:valid {
    border-color: #ec2059;
}

.form-field:valid ~ .form-label {
  color: #ec2059;
}


.btn {
    color: white;   
    background-color: #ec2059;
    outline:0;
    font-family: 'Ubuntu', sans-serif;
}

.btn:hover{
  background-color:#b71542;
}
.btn-square {
    border:0;
}

.btn-lg {
    font-size: 1.2em;
    padding: 15px;
}
